In [2]:
import pandas as pd
import requests as req
import json
from bs4 import BeautifulSoup

In [3]:
weekend_box_1 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m50&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_2 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m4050&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_3 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m3040&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_4 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m2530&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_5 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m2025&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_6 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m1520&sort=opengross&p=.htm&order=DESC')[0]
weekend_box_7 = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/?pagenum=m1015&sort=opengross&p=.htm&order=DESC')[0]

In [4]:
weekend_box_7

,0,1,2,3,4,5,6,7,8,9,...,6271,6272,6273,6274,6275,6276,6277,6278,6279,6280
0,> ALL TIME BOX OFFICE Adjuster: Actuals Est...,> ALL TIME BOX OFFICE,Adjuster: Actuals Est. Tckts for(i=2018; i>...,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,OPENING WEEKENDS $50+ M $40-50m $30-40m $25-30...,Rank,Title (click to view),Studio,Opening*,...,Lawless,Wein.,"$10,001,982",26.7%,2888.0,"$3,463","$37,400,127",8/29/2012,googletag.cmd.push(function() { googletag.def...,NaN
1,> ALL TIME BOX OFFICE,Adjuster: Actuals Est. Tckts for(i=2018; i>...,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OPENING WEEKENDS $50+ M $40-50m $30-40m $25-30...,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**,...,"$3,463","$37,400,127",8/29/2012,googletag.cmd.push(function() { googletag.def...,NaN,NaN,NaN,NaN,NaN,NaN
5,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1312,Priest,SGem,"$14,953,664",51.3%,2864,"$5,221","$29,136,626",5/13/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1313,Tag,WB (NL),"$14,947,396",36.6%,3382,"$4,420","$40,887,808",6/15/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1314,Dangerous Minds,BV,"$14,931,503",17.6%,1348,"$11,076","$84,919,401",8/11/1995,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1315,The Boy Next Door,Uni.,"$14,910,105",42.1%,2602,"$5,730","$35,423,380",1/23/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1316,Harold and Kumar Escape from Guantanamo Bay,WB (NL),"$14,908,404",39.1%,2510,"$5,940","$38,108,728",4/25/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1317,Surrogates,BV,"$14,902,692",38.6%,2951,"$5,050","$38,577,772",9/25/2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1318,Passengers (2016),Sony,"$14,869,736",14.9%,3478,"$4,275","$100,014,699",12/21/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1319,Inferno,Sony,"$14,860,425",43.3%,3576,"$4,156","$34,343,574",10/28/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1320,Seven Pounds,Sony,"$14,851,136",21.2%,2758,"$5,385","$69,951,824",12/19/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1321,Pitch Perfect,Uni.,"$14,846,830",22.8%,2770,"$5,360","$65,001,093",10/5/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1322,American Assassin,LGF,"$14,846,778",41.0%,3154,"$4,707","$36,249,674",9/15/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1323,A Time to Kill,WB,"$14,823,159",13.6%,2123,"$6,982","$108,766,007",7/24/1996,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1324,Miracles from Heaven,TriS,"$14,812,393",24.0%,3047,"$4,861","$61,705,123",3/16/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1325,Source Code,Sum.,"$14,812,094",27.1%,2961,"$5,002","$54,712,227",4/1/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1326,The Prestige,BV,"$14,801,808",27.9%,2281,"$6,489","$53,089,891",10/20/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1327,Australia,Fox,"$14,800,723",29.9%,2642,"$5,602","$49,554,002",11/26/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1328,The Rite,WB (NL),"$14,789,393",44.8%,2985,"$4,955","$33,047,633",1/28/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1329,Money Monster,TriS,"$14,788,157",36.1%,3104,"$4,764","$41,012,075",5/13/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1330,Queen of the Damned,WB,"$14,757,535",48.6%,2511,"$5,877","$30,336,800",2/22/2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1331,Made of Honor,Sony,"$14,756,850",32.1%,2729,"$5,407","$46,012,734",5/2/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1332,The Cabin in the Woods,LGF,"$14,743,614",35.0%,2811,"$5,245","$42,073,277",4/13/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1333,The Messengers,SGem,"$14,713,321",41.6%,2528,"$5,820","$35,374,833",2/2/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1334,White Men Can't Jump,Fox,"$14,711,124",19.3%,1923,"$7,650","$76,253,806",3/27/1992,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1335,Overboard (2018),PNT,"$14,711,101",29.3%,1623,"$9,064","$50,188,946",5/4/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,1979,Problem Child,Uni.,"$10,026,900",18.8%,1714,"$5,850","$53,470,891",7/27/1990,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
674,1980,The Reaping,WB,"$10,025,203",39.9%,2603,"$3,851","$25,126,214",4/5/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,1981,The Last Mimzy,NL,"$10,024,819",46.7%,3017,"$3,322","$21,471,047",3/23/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,1982,Valentine,WB,"$10,024,648",49.2%,2310,"$4,339","$20,384,136",2/2/2001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,1983,Accepted,Uni.,"$10,023,835",27.6%,2914,"$3,439","$36,323,505",8/18/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,1984,Boyz N the Hood,Col.,"$10,023,462",17.4%,829,"$12,091","$57,504,069",7/12/1991,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,1985,The Untouchables,Par.,"$10,023,094",13.1%,1012,"$9,904","$76,270,454",6/5/1987,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,1986,The X-Files: I Want to Believe,Fox,"$10,021,753",47.8%,3185,"$3,147","$20,982,478",7/25/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
681,1987,Fat Albert,Fox,"$10,021,510",20.8%,2674,"$3,747","$48,116,322",12/25/2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
682,1988,Conan the Barbarian (2011),LGF,"$10,021,215",47.1%,3015,"$3,324","$21,295,021",8/19/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
683,1989,Seven Years in Tibet,Sony,"$10,020,378",26.4%,2103,"$4,764","$37,957,682",10/10/1997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,1990,Dragon: The Bruce Lee Story,Uni.,"$10,019,970",28.5%,1887,"$5,310","$35,113,743",5/7/1993,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,1991,Mystery Men,Uni.,"$10,017,865",33.7%,2136,"$4,690","$29,762,011",8/6/1999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,1992,Sea of Love,Uni.,"$10,017,840",17.1%,1246,"$8,040","$58,571,513",9/15/1989,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
687,1993,In Her Shoes,Fox,"$10,017,575",30.5%,2808,"$3,567","$32,880,591",10/7/2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
688,1994,Sleepwalkers,Col.,"$10,017,354",32.8%,1864,"$5,374","$30,524,763",4/10/1992,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,1995,Mr. Brooks,MGM,"$10,017,067",35.1%,2453,"$4,084","$28,549,298",6/1/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,1996,Kidnap (2017),Aviron,"$10,016,323",32.6%,2378,"$4,212","$30,718,107",8/4/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,1997,Rent,SonR,"$10,016,021",34.4%,2433,"$4,116","$29,077,547",11/23/2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,1998,Daylight,Uni.,"$10,015,875",30.3%,2175,"$4,605","$33,023,469",12/6/1996,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,1999,Final Destination,NL,"$10,015,822",18.8%,2587,"$3,871","$53,331,147",3/17/2000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,2000,Rush (2013),Uni.,"$10,014,920",37.2%,2297,"$4,360","$26,947,624",9/27/2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,2001,The American President,Sony,"$10,014,558",16.7%,1508,"$6,640","$60,079,496",11/17/1995,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,2002,Fame (2009),MGM,"$10,011,682",44.6%,3096,"$3,234","$22,455,510",9/25/2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,2003,Someone Like You,Fox,"$10,010,600",36.6%,2345,"$4,268","$27,343,067",3/30/2001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,2004,All About the Benjamins,NL,"$10,007,291",38.6%,1505,"$6,649","$25,916,319",3/8/2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,2005,The Black Dahlia,Uni.,"$10,005,895",44.4%,2226,"$4,495","$22,545,080",9/15/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,2006,The Best of Me,Rela.,"$10,003,827",37.4%,2936,"$3,407","$26,766,213",10/17/2014,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
701,2007,Lawless,Wein.,"$10,001,982",26.7%,2888,"$3,463","$37,400,127",8/29/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
weekend_box_1 = weekend_box_1.iloc[5:]
weekend_box_2 = weekend_box_2.iloc[5:]
weekend_box_3 = weekend_box_3.iloc[5:]
weekend_box_4 = weekend_box_4.iloc[5:]
weekend_box_5 = weekend_box_5.iloc[5:]
weekend_box_6 = weekend_box_6.iloc[5:]
weekend_box_7 = weekend_box_7.iloc[5:]

In [6]:
weekend_box_1 = weekend_box_1[[0,1,2,3,4,5,6,7,8]]
weekend_box_2 = weekend_box_2[[0,1,2,3,4,5,6,7,8]]
weekend_box_3 = weekend_box_3[[0,1,2,3,4,5,6,7,8]]
weekend_box_4 = weekend_box_4[[0,1,2,3,4,5,6,7,8]]
weekend_box_5 = weekend_box_5[[0,1,2,3,4,5,6,7,8]]
weekend_box_6 = weekend_box_6[[0,1,2,3,4,5,6,7,8]]
weekend_box_7 = weekend_box_7[[0,1,2,3,4,5,6,7,8]]

In [7]:
weekend_box_7.head()

,0,1,2,3,4,5,6,7,8
5,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**
6,1312,Priest,SGem,"$14,953,664",51.3%,2864,"$5,221","$29,136,626",5/13/2011
7,1313,Tag,WB (NL),"$14,947,396",36.6%,3382,"$4,420","$40,887,808",6/15/2018
8,1314,Dangerous Minds,BV,"$14,931,503",17.6%,1348,"$11,076","$84,919,401",8/11/1995
9,1315,The Boy Next Door,Uni.,"$14,910,105",42.1%,2602,"$5,730","$35,423,380",1/23/2015

In [8]:
weekend_box_1.columns = weekend_box_1.iloc[0]
weekend_box_2.columns = weekend_box_2.iloc[0]
weekend_box_3.columns = weekend_box_3.iloc[0]
weekend_box_4.columns = weekend_box_4.iloc[0]
weekend_box_5.columns = weekend_box_5.iloc[0]
weekend_box_6.columns = weekend_box_6.iloc[0]
weekend_box_7.columns = weekend_box_7.iloc[0]

In [9]:
weekend_box_1 = weekend_box_1.iloc[1:]
weekend_box_2 = weekend_box_2.iloc[1:]
weekend_box_3 = weekend_box_3.iloc[1:]
weekend_box_4 = weekend_box_4.iloc[1:]
weekend_box_5 = weekend_box_5.iloc[1:]
weekend_box_6 = weekend_box_6.iloc[1:]
weekend_box_7 = weekend_box_7.iloc[1:]

In [10]:
weekend_box_1 = weekend_box_1[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_2 = weekend_box_2[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_3 = weekend_box_3[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_4 = weekend_box_4[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_5 = weekend_box_5[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_6 = weekend_box_6[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]
weekend_box_7 = weekend_box_7[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]

In [11]:
weekend_box_1.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_2.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_3.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_4.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_5.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_6.columns = ['Title', 'Studio', 'Opening', 'Date']
weekend_box_7.columns = ['Title', 'Studio', 'Opening', 'Date']

In [12]:
frames = [weekend_box_1, weekend_box_2, weekend_box_3, weekend_box_4, weekend_box_5, weekend_box_6, weekend_box_7]

weekend_box = pd.concat(frames)

In [13]:
weekend_box = weekend_box[:-1]

In [14]:
weekend_box.head()

                           Title Studio       Opening        Date
6         Avengers: Infinity War     BV  $257,698,183   4/27/2018
7   Star Wars: The Force Awakens     BV  $247,966,675  12/18/2015
8       Star Wars: The Last Jedi     BV  $220,009,584  12/15/2017
9                 Jurassic World   Uni.  $208,806,270   6/12/2015
10         Marvel's The Avengers     BV  $207,438,708    5/4/2012

In [15]:
weekend_box['Director'] = ''
weekend_box['Budget'] = ''
weekend_box['imdbID'] = ''
weekend_box['month'] = ''
weekend_box['year'] = ''
weekend_box['Actor'] = ''
weekend_box['Genre'] = ''
weekend_box['Writer'] = ''

In [16]:
weekend_box

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year,Actor,Genre,Writer
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,,,,,,,,
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,,,,,,,,
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,,,,,,,,
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,,,,,,,,
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,,,,,,,,
11,Black Panther,BV,"$202,003,951",2/16/2018,,,,,,,,
12,Avengers: Age of Ultron,BV,"$191,271,109",5/1/2015,,,,,,,,
13,Incredibles 2,BV,"$182,687,905",6/15/2018,,,,,,,,
14,Captain America: Civil War,BV,"$179,139,142",5/6/2016,,,,,,,,
15,Beauty and the Beast (2017),BV,"$174,750,616",3/17/2017,,,,,,,,
16,Iron Man 3,BV,"$174,144,585",5/3/2013,,,,,,,,
17,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/2011,,,,,,,,
18,Batman v Superman: Dawn of Justice,WB,"$166,007,347",3/25/2016,,,,,,,,
19,The Dark Knight Rises,WB,"$160,887,295",7/20/2012,,,,,,,,
20,The Dark Knight,WB,"$158,411,483",7/18/2008,,,,,,,,
21,The Hunger Games: Catching Fire,LGF,"$158,074,286",11/22/2013,,,,,,,,
22,Rogue One: A Star Wars Story,BV,"$155,081,681",12/16/2016,,,,,,,,
23,The Hunger Games,LGF,"$152,535,747",3/23/2012,,,,,,,,
24,Spider-Man 3,Sony,"$151,116,516",5/4/2007,,,,,,,,
25,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",6/22/2018,,,,,,,,
26,Furious 7,Uni.,"$147,187,040",4/3/2015,,,,,,,,
27,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",5/5/2017,,,,,,,,
28,The Twilight Saga: New Moon,Sum.,"$142,839,137",11/20/2009,,,,,,,,
29,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",11/16/2012,,,,,,,,
30,The Twilight Saga: Breaking Dawn Part 1,Sum.,"$138,122,261",11/18/2011,,,,,,,,
31,Pirates of the Caribbean: Dead Man's Chest,BV,"$135,634,554",7/7/2006,,,,,,,,
32,Finding Dory,BV,"$135,060,273",6/17/2016,,,,,,,,
33,Suicide Squad,WB,"$133,682,248",8/5/2016,,,,,,,,
34,Deadpool,Fox,"$132,434,639",2/12/2016,,,,,,,,
35,Iron Man 2,Par.,"$128,122,480",5/7/2010,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
672,The Little Rascals,Uni.,"$10,028,065",8/5/1994,,,,,,,,
673,Problem Child,Uni.,"$10,026,900",7/27/1990,,,,,,,,
674,The Reaping,WB,"$10,025,203",4/5/2007,,,,,,,,
675,The Last Mimzy,NL,"$10,024,819",3/23/2007,,,,,,,,
676,Valentine,WB,"$10,024,648",2/2/2001,,,,,,,,
677,Accepted,Uni.,"$10,023,835",8/18/2006,,,,,,,,
678,Boyz N the Hood,Col.,"$10,023,462",7/12/1991,,,,,,,,
679,The Untouchables,Par.,"$10,023,094",6/5/1987,,,,,,,,
680,The X-Files: I Want to Believe,Fox,"$10,021,753",7/25/2008,,,,,,,,
681,Fat Albert,Fox,"$10,021,510",12/25/2004,,,,,,,,
682,Conan the Barbarian (2011),LGF,"$10,021,215",8/19/2011,,,,,,,,
683,Seven Years in Tibet,Sony,"$10,020,378",10/10/1997,,,,,,,,
684,Dragon: The Bruce Lee Story,Uni.,"$10,019,970",5/7/1993,,,,,,,,
685,Mystery Men,Uni.,"$10,017,865",8/6/1999,,,,,,,,
686,Sea of Love,Uni.,"$10,017,840",9/15/1989,,,,,,,,
687,In Her Shoes,Fox,"$10,017,575",10/7/2005,,,,,,,,
688,Sleepwalkers,Col.,"$10,017,354",4/10/1992,,,,,,,,
689,Mr. Brooks,MGM,"$10,017,067",6/1/2007,,,,,,,,
690,Kidnap (2017),Aviron,"$10,016,323",8/4/2017,,,,,,,,
691,Rent,SonR,"$10,016,021",11/23/2005,,,,,,,,
692,Daylight,Uni.,"$10,015,875",12/6/1996,,,,,,,,
693,Final Destination,NL,"$10,015,822",3/17/2000,,,,,,,,
694,Rush (2013),Uni.,"$10,014,920",9/27/2013,,,,,,,,
695,The American President,Sony,"$10,014,558",11/17/1995,,,,,,,,
696,Fame (2009),MGM,"$10,011,682",9/25/2009,,,,,,,,
697,Someone Like You,Fox,"$10,010,600",3/30/2001,,,,,,,,
698,All About the Benjamins,NL,"$10,007,291",3/8/2002,,,,,,,,
699,The Black Dahlia,Uni.,"$10,005,895",9/15/2006,,,,,,,,
700,The Best of Me,Rela.,"$10,003,827",10/17/2014,,,,,,,,
701,Lawless,Wein.,"$10,001,982",8/29/2012,,,,,,,,

In [17]:
for i, r in weekend_box.iterrows():
    date = str(r['Date'])
    print(date)
    split = date.split('/')
    print(split)
    month = split[0]
    print(month)
    year = split[2]
    weekend_box.set_value(i, 'month', month)
    weekend_box.set_value(i, 'year', year)

4/27/2018
['4', '27', '2018']
4
12/18/2015
['12', '18', '2015']
12
12/15/2017
['12', '15', '2017']
12
6/12/2015
['6', '12', '2015']
6
5/4/2012
['5', '4', '2012']
5
2/16/2018
['2', '16', '2018']
2
5/1/2015
['5', '1', '2015']
5
6/15/2018
['6', '15', '2018']
6
5/6/2016
['5', '6', '2016']
5
3/17/2017
['3', '17', '2017']
3
5/3/2013
['5', '3', '2013']
5
7/15/2011
['7', '15', '2011']
7
3/25/2016
['3', '25', '2016']
3
7/20/2012
['7', '20', '2012']
7
7/18/2008
['7', '18', '2008']
7
11/22/2013
['11', '22', '2013']
11
12/16/2016
['12', '16', '2016']
12
3/23/2012
['3', '23', '2012']
3
5/4/2007
['5', '4', '2007']
5
6/22/2018
['6', '22', '2018']
6
4/3/2015
['4', '3', '2015']
4
5/5/2017
['5', '5', '2017']
5
11/20/2009
['11', '20', '2009']
11
11/16/2012
['11', '16', '2012']
11
11/18/2011
['11', '18', '2011']
11
7/7/2006
['7', '7', '2006']
7
6/17/2016
['6', '17', '2016']
6
8/5/2016
['8', '5', '2016']
8
2/12/2016
['2', '12', '2016']
2
5/7/2010
['5', '7', '2010']
5
5/18/2018
['5', '18', '2018']
5
11/19/2010
['11', '19', '2010']
11
9/8/2017
['9', '8', '2017']
9
11/3/2017
['11', '3', '2017']
11
11/21/2014
['11', '21', '2014']
11
5/18/2007
['5', '18', '2007']
5
7/7/2017
['7', '7', '2017']
7
6/14/2013
['6', '14', '2013']
6
3/5/2010
['3', '5', '2010']
3
7/10/2015
['7', '10', '2015']
7
5/3/2002
['5', '3', '2002']
5
5/25/2007
['5', '25', '2007']
5
6/18/2010
['6', '18', '2010']
6
6/24/2009
['6', '24', '2009']
6
5/19/2005
['5', '19', '2005']
5
5/19/2004
['5', '19', '2004']
5
7/8/2016
['7', '8', '2016']
7
4/15/2016
['4', '15', '2016']
4
6/2/2017
['6', '2', '2017']
6
5/26/2006
['5', '26', '2006']
5
11/18/2005
['11', '18', '2005']
11
11/20/2015
['11', '20', '2015']
11
5/22/2008
['5', '22', '2008']
5
6/27/2014
['6', '27', '2014']
6
4/14/2017
['4', '14', '2017']
4
5/2/2008
['5', '2', '2008']
5
6/29/2011
['6', '29', '2011']
6
5/24/2013
['5', '24', '2013']
5
4/4/2014
['4', '4', '2014']
4
8/1/2014
['8', '1', '2014']
8
11/17/2017
['11', '17', '2017']
11
6/4/2004
['6', '4', '2004']
6
5/16/2014
['5', '16', '2014']
5
5/15/2003
['5', '15', '2003']
5
5/2/2014
['5', '2', '2014']
5
5/23/2014
['5', '23', '2014']
5
6/19/2015
['6', '19', '2015']
6
11/16/2001
['11', '16', '2001']
11
5/20/2011
['5', '20', '2011']
5
1/16/2015
['1', '16', '2015']
1
3/3/2017
['3', '3', '2017']
3
11/9/2012
['11', '9', '2012']
11
11/15/2002
['11', '15', '2002']
11
6/30/2004
['6', '30', '2004']
6
4/29/2011
['4', '29', '2011']
4
5/26/2011
['5', '26', '2011']
5
11/8/2013
['11', '8', '2013']
11
5/2/2003
['5', '2', '2003']
5
2/13/2015
['2', '13', '2015']
2
11/4/2016
['11', '4', '2016']
11
5/1/2009
['5', '1', '2009']
5
12/14/2012
['12', '14', '2012']
12
5/25/2018
['5', '25', '2018']
5
2/25/2004
['2', '25', '2004']
2
7/3/2013
['7', '3', '2013']
7
6/21/2013
['6', '21', '2013']
6
5/16/2002
['5', '16', '2002']
5
3/8/2013
['3', '8', '2013']
3
7/15/2009
['7', '15', '2009']
7
12/14/2007
['12', '14', '2007']
12
7/11/2007
['7', '11', '2007']
7
5/19/2006
['5', '19', '2006']
5
12/18/2009
['12', '18', '2009']
12
5/8/2009
['5', '8', '2009']
5
3/4/2016
['3', '4', '2016']
3
11/18/2016
['11', '18', '2016']
11
7/27/2007
['7', '27', '2007']
7
12/13/2013
['12', '13', '2013']
12
7/26/2002
['7', '26', '2002']
7
12/17/2003
['12', '17', '2003']
12
7/11/2014
['7', '11', '2014']
7
6/30/2017
['6', '30', '2017']
6
5/23/1997
['5', '23', '1997']
5
4/3/2009
['4', '3', '2009']
4
3/9/2007
['3', '9', '2007']
3
5/21/2010
['5', '21', '2010']
5
7/3/2007
['7', '3', '2007']
7
11/5/2004
['11', '5', '2004']
11
11/6/2015
['11', '6', '2015']
11
5/30/2003
['5', '30', '2003']
5
3/2/2012
['3', '2', '2012']
3
5/16/2013
['5', '16', '2013']
5
11/21/2008
['11', '21', '2008']
11
5/30/2014
['5', '30', '2014']
5
8/3/2007
['8', '3', '2007']
8
5/15/2015
['5', '15', '2015']
5
2/7/2014
['2', '7', '2014']
2
5/28/2004
['5', '28', '2004']
5
7/27/2001
['7', '27', '2001']
7
5/4/2001
['5', '4', '2001']
5
5/29/2009
['5', '29', '2009']
5
3/31/2006
['3', '31', '2006']
3
5/23/2003
['5', '23', '2003']
5
3/13/2015
['3', '13', '2015']
3
11/14/2008
['11', '14', '2008']
11
8/3/2001
['8', '3', '2001']
8
11/27/2013
['11', '27', '2013']
11
6/21/2013
['6', '21', '2013']
6
6/22/2012
['6', '22', '2012']
6
6/24/2011
['6', '24', '2011']
6
5/27/2016
['5', '27', '2016']
5
5/6/2011
['5', '6', '2011']
5
8/8/2014
['8', '8', '2014']
8
12/9/2005
['12', '9', '2005']
12
11/13/2009
['11', '13', '2009']
11
7/22/2011
['7', '22', '2011']
7
6/29/2005
['6', '29', '2005']
6
6/30/2010
['6', '30', '2010']
6
5/19/1999
['5', '19', '1999']
5
11/7/2008
['11', '7', '2008']
11
6/27/2008
['6', '27', '2008']
6
5/26/2017
['5', '26', '2017']
5
7/16/2010
['7', '16', '2010']
7
7/2/2008
['7', '2', '2008']
7
11/2/2001
['11', '2', '2001']
11
12/25/2009
['12', '25', '2009']
12
6/20/2003
['6', '20', '2003']
6
12/18/2002
['12', '18', '2002']
12
7/3/2012
['7', '3', '2012']
7
4/2/2010
['4', '2', '2010']
4
3/10/2017
['3', '10', '2017']
3
6/8/2012
['6', '8', '2012']
6
6/6/2008
['6', '6', '2008']
6
8/14/2015
['8', '14', '2015']
8
6/9/2006
['6', '9', '2006']
6
8/2/2002
['8', '2', '2002']
8
3/27/2009
['3', '27', '2009']
3
7/22/2016
['7', '22', '2016']
7
7/29/2016
['7', '29', '2016']
7
5/25/2001
['5', '25', '2001']
5
6/15/2007
['6', '15', '2007']
6
2/9/2001
['2', '9', '2001']
2
5/24/2000
['5', '24', '2000']
5
11/24/1999
['11', '24', '1999']
11
7/17/2015
['7', '17', '2015']
7
6/13/2014
['6', '13', '2014']
6
5/30/2008
['5', '30', '2008']
5
11/23/2016
['11', '23', '2016']
11
7/9/2010
['7', '9', '2010']
7
7/14/2017
['7', '14', '2017']
7
2/12/2010
['2', '12', '2010']
2
6/1/2012
['6', '1', '2012']
6
11/7/2014
['11', '7', '2014']
11
7/15/2005
['7', '15', '2005']
7
7/8/2005
['7', '8', '2005']
7
10/4/2013
['10', '4', '2013']
10
6/11/2010
['6', '11', '2010']
6
7/31/2015
['7', '31', '2015']
7
6/13/2008
['6', '13', '2008']
6
2/6/2015
['2', '6', '2015']
2
3/6/2009
['3', '6', '2009']
3
6/3/2011
['6', '3', '2011']
6
11/17/2000
['11', '17', '2000']
11
5/16/2008
['5', '16', '2008']
5
6/11/1999
['6', '11', '1999']
6
8/5/2011
['8', '5', '2011']
8
12/17/2014
['12', '17', '2014']
12
8/7/2009
['8', '7', '2009']
8
3/21/2014
['3', '21', '2014']
3
5/25/2012
['5', '25', '2012']
5
5/29/2015
['5', '29', '2015']
5
7/14/2000
['7', '14', '2000']
7
6/29/2012
['6', '29', '2012']
6
10/2/2015
['10', '2', '2015']
10
5/22/2009
['5', '22', '2009']
5
6/14/2002
['6', '14', '2002']
6
6/16/2017
['6', '16', '2017']
6
6/17/2011
['6', '17', '2011']
6
7/26/2013
['7', '26', '2013']
7
2/10/2017
['2', '10', '2017']
2
6/16/1995
['6', '16', '1995']
6
10/21/2011
['10', '21', '2011']
10
6/28/2006
['6', '28', '2006']
6
7/23/2004
['7', '23', '2004']
7
3/20/2015
['3', '20', '2015']
3
7/16/2004
['7', '16', '2004']
7
7/3/2002
['7', '3', '2002']
7
3/27/2015
['3', '27', '2015']
3
5/7/2004
['5', '7', '2004']
5
11/8/2002
['11', '8', '2002']
11
7/2/1997
['7', '2', '1997']
7
6/8/2012
['6', '8', '2012']
6
6/27/2008
['6', '27', '2008']
6
11/22/2017
['11', '22', '2017']
11
7/18/2001
['7', '18', '2001']
7
7/30/2004
['7', '30', '2004']
7
7/21/2017
['7', '21', '2017']
7
6/6/2003
['6', '6', '2003']
6
10/15/2010
['10', '15', '2010']
10
6/10/2005
['6', '10', '2005']
6
7/3/1996
['7', '3', '1996']
7
4/6/2018
['4', '6', '2018']
4
3/31/2017
['3', '31', '2017']
3
12/14/2005
['12', '14', '2005']
12
5/10/2013
['5', '10', '2013']
5
nan
['nan']
nan

IndexError: list index out of range

In [20]:
weekend_box.head(12)

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year,Actor,Genre,Writer
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,,,,4,2018,,,
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,,,,12,2015,,,
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,,,,12,2017,,,
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,,,,6,2015,,,
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,,,,5,2012,,,
11,Black Panther,BV,"$202,003,951",2/16/2018,,,,2,2018,,,
12,Avengers: Age of Ultron,BV,"$191,271,109",5/1/2015,,,,5,2015,,,
13,Incredibles 2,BV,"$182,687,905",6/15/2018,,,,6,2018,,,
14,Captain America: Civil War,BV,"$179,139,142",5/6/2016,,,,5,2016,,,
15,Beauty and the Beast (2017),BV,"$174,750,616",3/17/2017,,,,3,2017,,,
16,Iron Man 3,BV,"$174,144,585",5/3/2013,,,,5,2013,,,
17,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/2011,,,,7,2011,,,

In [21]:
year = weekend_box['year'] > str(2009)

In [22]:
weekend_box = weekend_box[year]

In [23]:
len(weekend_box)

797

In [24]:
omdb = 'http://www.omdbapi.com/?apikey=7b298284&t='

In [ ]:
for index, row in weekend_box.iterrows():
    t = str(row['Title'])
    t = t.replace(":","")
    t = t.replace("'","")
    t = t.replace(' ', '+')
    search = omdb + t
    print (search)
    try:
        results = req.get(search).json()
        if results['Response'] == 'False':
            print("Couldn't find title: ", t)
        else:
            weekend_box.set_value(index, 'Director', results['Director'])
            weekend_box.set_value(index, 'imdbID', results['imdbID'])
            weekend_box.set_value(index, 'Actor', results['Actors'])
            weekend_box.set_value(index, 'Genre', results['Genre'])
            weekend_box.set_value(index, 'Writer', results['Writer'])
    except:
        print('in except')
        continue

In [29]:
weekend_box.to_csv('before_imdb.csv')

In [31]:
weekend_box.head(100)

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year,Actor,Genre,Writer
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,"Anthony Russo, Joe Russo",,tt4154756,4,2018,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...","Action, Adventure, Fantasy","Christopher Markus (screenplay by), Stephen Mc..."
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,J.J. Abrams,,tt2488496,12,2015,"Harrison Ford, Mark Hamill, Carrie Fisher, Ada...","Action, Adventure, Fantasy","Lawrence Kasdan, J.J. Abrams, Michael Arndt, G..."
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,Rian Johnson,,tt2527336,12,2017,"Mark Hamill, Carrie Fisher, Adam Driver, Daisy...","Action, Adventure, Fantasy","Rian Johnson, George Lucas (based on character..."
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,Colin Trevorrow,,tt0369610,6,2015,"Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...","Action, Adventure, Sci-Fi","Rick Jaffa (screenplay by), Amanda Silver (scr..."
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,,,,5,2012,,,
11,Black Panther,BV,"$202,003,951",2/16/2018,Ryan Coogler,,tt1825683,2,2018,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...","Action, Adventure, Sci-Fi","Ryan Coogler, Joe Robert Cole, Stan Lee (based..."
12,Avengers: Age of Ultron,BV,"$191,271,109",5/1/2015,Joss Whedon,,tt2395427,5,2015,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...","Action, Adventure, Sci-Fi","Joss Whedon, Stan Lee (based on the Marvel com..."
13,Incredibles 2,BV,"$182,687,905",6/15/2018,Brad Bird,,tt3606756,6,2018,"Craig T. Nelson, Holly Hunter, Sarah Vowell, H...","Animation, Action, Adventure",Brad Bird
14,Captain America: Civil War,BV,"$179,139,142",5/6/2016,"Anthony Russo, Joe Russo",,tt3498820,5,2016,"Chris Evans, Robert Downey Jr., Scarlett Johan...","Action, Adventure, Sci-Fi","Christopher Markus (screenplay by), Stephen Mc..."
15,Beauty and the Beast (2017),BV,"$174,750,616",3/17/2017,,,,3,2017,,,
16,Iron Man 3,BV,"$174,144,585",5/3/2013,Shane Black,,tt1300854,5,2013,"Robert Downey Jr., Gwyneth Paltrow, Don Cheadl...","Action, Adventure, Sci-Fi","Drew Pearce (screenplay by), Shane Black (scre..."
17,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/2011,David Yates,,tt1201607,7,2011,"Ralph Fiennes, Michael Gambon, Alan Rickman, D...","Adventure, Drama, Fantasy","Steve Kloves (screenplay), J.K. Rowling (novel)"
18,Batman v Superman: Dawn of Justice,WB,"$166,007,347",3/25/2016,Zack Snyder,,tt2975590,3,2016,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...","Action, Adventure, Fantasy","Chris Terrio, David S. Goyer, Bob Kane (Batman..."
19,The Dark Knight Rises,WB,"$160,887,295",7/20/2012,Christopher Nolan,,tt1345836,7,2012,"Christian Bale, Gary Oldman, Tom Hardy, Joseph...","Action, Thriller","Jonathan Nolan (screenplay), Christopher Nolan..."
21,The Hunger Games: Catching Fire,LGF,"$158,074,286",11/22/2013,Francis Lawrence,,tt1951264,11,2013,"Jennifer Lawrence, Liam Hemsworth, Jack Quaid,...","Action, Adventure, Mystery","Simon Beaufoy (screenplay), Michael Arndt (scr..."
22,Rogue One: A Star Wars Story,BV,"$155,081,681",12/16/2016,Gareth Edwards,,tt3748528,12,2016,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...","Action, Adventure, Sci-Fi","Chris Weitz (screenplay by), Tony Gilroy (scre..."
23,The Hunger Games,LGF,"$152,535,747",3/23/2012,Gary Ross,,tt1392170,3,2012,"Stanley Tucci, Wes Bentley, Jennifer Lawrence,...","Adventure, Sci-Fi, Thriller","Gary Ross (screenplay), Suzanne Collins (scree..."
25,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",6/22/2018,J.A. Bayona,,tt4881806,6,2018,"Chris Pratt, Bryce Dallas Howard, Rafe Spall, ...","Action, Adventure, Sci-Fi","Derek Connolly, Colin Trevorrow, Michael Crich..."
26,Furious 7,Uni.,"$147,187,040",4/3/2015,James Wan,,tt2820852,4,2015,"Vin Diesel, Paul Walker, Jason Statham, Michel...","Action, Crime, Thriller","Chris Morgan, Gary Scott Thompson (characters)"
27,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",5/5/2017,James Gunn,,tt3896198,5,2017,"Chris Pratt, Zoe Saldana, Dave Bautista, Vin D...","Action, Adventure, Sci-Fi","James Gunn, Dan Abnett (based on the Marvel co..."
29,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",11/16/2012,Bill Condon,,tt1673434,11,2012,"Kristen Stewart, Robert Pattinson, Taylor Laut...","Adventure, Drama, Fantasy","Melissa Rosenberg (screenplay), Stephenie Meye..."
30,The Twilight Saga: Breaking Dawn Part 1,Sum.,"$138,122,261",11/18/2011,N/A,,tt2395475,11,2011,Juley Ross,Short,N/A
32,Finding Dory,BV,"$135,060,273",6/17/2016,,,,6,2016,,,
33,Suicide Squad,WB,"$133,682,248",8/5/2016,,,,8,2016,,,
34,Deadpool,Fox,"$132,434,639",2/12/2016,,,,2,2016,,,
35,Iron Man 2,Par.,"$128,122,480",5/7/2010,,,,5,2010,,,
36,Deadpool 2,Fox,"$125,507,153",5/18/2018,,,,5,2018,,,
37,Harry Potter and the Deathly Hallows Part 1,WB,"$125,017,372",11/19/2010,,,,11,2010,,,
38,It,WB (NL),"$123,403,419",9/8/2017,,,,9,2017,,,
39,Thor: Ragnarok,BV,"$122,744,989",11/3/2017,,,,11,2017,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
111,Shrek Forever After,P/DW,"$70,838,207",5/21/2010,,,,5,2010,,,
114,Spectre,Sony,"$70,403,148",11/6/2015,,,,11,2015,,,
116,Dr. Seuss' The Lorax,Uni.,"$70,217,070",3/2/2012,,,,3,2012,,,
117,Star Trek Into Darkness,Par.,"$70,165,559",5/16/2013,,,,5,2013,,,
119,Maleficent,BV,"$69,431,298",5/30/2014,,,,5,2014,,,
121,Pitch Perfect 2,Uni.,"$69,216,890",5/15/2015,,,,5,2015,,,
122,The LEGO Movie,WB,"$69,050,279",2/7/2014,,,,2,2014,,,
129,Cinderella (2015),BV,"$67,877,361",3/13/2015,,,,3,2015,,,
132,Frozen,BV,"$67,391,326",11/27/2013,,,,11,2013,,,
133,World War Z,Par.,"$66,411,834",6/21/2013,,,,6,2013,,,
134,Brave,BV,"$66,323,594",6/22/2012,,,,6,2012,,,
135,Cars 2,BV,"$66,135,507",6/24/2011,,,,6,2011,,,
136,X-Men: Apocalypse,Fox,"$65,769,562",5/27/2016,,,,5,2016,,,
137,Thor,Par.,"$65,723,338",5/6/2011,,,,5,2011,,,
138,Teenage Mutant Ninja Turtles (2014),Par.,"$65,575,105",8/8/2014,,,,8,2014,,,
141,Captain America: The First Avenger,Par.,"$65,058,524",7/22/2011,,,,7,2011,,,
143,The Twilight Saga: Eclipse,Sum.,"$64,832,191",6/30/2010,,,,6,2010,,,
147,Pirates of the Caribbean: Dead Men Tell No Tales,BV,"$62,983,253",5/26/2017,,,,5,2017,,,
148,Inception,WB,"$62,785,337",7/16/2010,,,,7,2010,,,
154,The Amazing Spider-Man,Sony,"$62,004,688",7/3/2012,,,,7,2012,,,
155,Clash of the Titans (2010),WB,"$61,235,105",4/2/2010,,,,4,2010,,,
156,Kong: Skull Island,WB,"$61,025,472",3/10/2017,,,,3,2017,,,
157,Madagascar 3: Europe's Most Wanted,P/DW,"$60,316,738",6/8/2012,,,,6,2012,,,
159,Straight Outta Compton,Uni.,"$60,200,180",8/14/2015,,,,8,2015,,,
163,Star Trek Beyond,Par.,"$59,253,211",7/22/2016,,,,7,2016,,,
164,Jason Bourne,Uni.,"$59,215,365",7/29/2016,,,,7,2016,,,
170,Ant-Man,BV,"$57,225,526",7/17/2015,,,,7,2015,,,
171,22 Jump Street,Sony,"$57,071,445",6/13/2014,,,,6,2014,,,
173,Moana,BV,"$56,631,401",11/23/2016,,,,11,2016,,,
174,Despicable Me,Uni.,"$56,397,125",7/9/2010,,,,7,2010,,,

In [83]:
imdb = 'https://www.imdb.com/title/'
for index, row in weekend_box.head().iterrows():
    imdbID = row['imdbID']
    page = imdb + imdbID

    try:
        response = req.get(page)
        soup = BeautifulSoup(response.text, 'html.parser')
        txt_block = soup.find_all('div', class_="txt-block")
        budget_block = txt_block[9]
        budget = budget_block.text
        budget = budget.strip()
        budget = budget.split('\n')[0]
        budget = budget.split(':')[1]
        weekend_box.set_value(index, 'Budget', budget)
    except:
        continue

In [84]:
weekend_box

,Title,Studio,Opening,Date,Director,Budget,imdbID,month,year,Actor,Genre,Writer
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018,"Anthony Russo, Joe Russo","$321,000,000",tt4154756,4,2018,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...","Action, Adventure, Fantasy","Christopher Markus (screenplay by), Stephen Mc..."
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015,J.J. Abrams,"$245,000,000",tt2488496,12,2015,"Harrison Ford, Mark Hamill, Carrie Fisher, Ada...","Action, Adventure, Fantasy","Lawrence Kasdan, J.J. Abrams, Michael Arndt, G..."
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017,Rian Johnson,"$620,181,382, 19 April 2018",tt2527336,12,2017,"Mark Hamill, Carrie Fisher, Adam Driver, Daisy...","Action, Adventure, Fantasy","Rian Johnson, George Lucas (based on character..."
9,Jurassic World,Uni.,"$208,806,270",6/12/2015,Colin Trevorrow,"$150,000,000",tt0369610,6,2015,"Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...","Action, Adventure, Sci-Fi","Rick Jaffa (screenplay by), Amanda Silver (scr..."
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012,,,,5,2012,,,
11,Black Panther,BV,"$202,003,951",2/16/2018,,,,2,2018,,,
12,Avengers: Age of Ultron,BV,"$191,271,109",5/1/2015,,,,5,2015,,,
13,Incredibles 2,BV,"$182,687,905",6/15/2018,,,,6,2018,,,
14,Captain America: Civil War,BV,"$179,139,142",5/6/2016,,,,5,2016,,,
15,Beauty and the Beast (2017),BV,"$174,750,616",3/17/2017,,,,3,2017,,,
16,Iron Man 3,BV,"$174,144,585",5/3/2013,,,,5,2013,,,
17,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/2011,,,,7,2011,,,
18,Batman v Superman: Dawn of Justice,WB,"$166,007,347",3/25/2016,,,,3,2016,,,
19,The Dark Knight Rises,WB,"$160,887,295",7/20/2012,,,,7,2012,,,
21,The Hunger Games: Catching Fire,LGF,"$158,074,286",11/22/2013,,,,11,2013,,,
22,Rogue One: A Star Wars Story,BV,"$155,081,681",12/16/2016,,,,12,2016,,,
23,The Hunger Games,LGF,"$152,535,747",3/23/2012,,,,3,2012,,,
25,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",6/22/2018,,,,6,2018,,,
26,Furious 7,Uni.,"$147,187,040",4/3/2015,,,,4,2015,,,
27,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",5/5/2017,,,,5,2017,,,
29,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",11/16/2012,,,,11,2012,,,
30,The Twilight Saga: Breaking Dawn Part 1,Sum.,"$138,122,261",11/18/2011,,,,11,2011,,,
32,Finding Dory,BV,"$135,060,273",6/17/2016,,,,6,2016,,,
33,Suicide Squad,WB,"$133,682,248",8/5/2016,,,,8,2016,,,
34,Deadpool,Fox,"$132,434,639",2/12/2016,,,,2,2016,,,
35,Iron Man 2,Par.,"$128,122,480",5/7/2010,,,,5,2010,,,
36,Deadpool 2,Fox,"$125,507,153",5/18/2018,,,,5,2018,,,
37,Harry Potter and the Deathly Hallows Part 1,WB,"$125,017,372",11/19/2010,,,,11,2010,,,
38,It,WB (NL),"$123,403,419",9/8/2017,,,,9,2017,,,
39,Thor: Ragnarok,BV,"$122,744,989",11/3/2017,,,,11,2017,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
175,Outbreak,WB,"$13,420,387",3/10/1995,,,,7,2017,,,
176,Nights in Rodanthe,WB,"$13,418,454",9/26/2008,,,,2,2010,,,
177,Stranger Than Fiction,Sony,"$13,411,093",11/10/2006,,,,6,2012,,,
178,Evolution,DW,"$13,408,351",6/8/2001,,,,11,2014,,,
181,Superman III,WB,"$13,352,357",6/17/1983,,,,10,2013,,,
182,Brooklyn's Finest,Over.,"$13,350,299",3/5/2010,,,,6,2010,,,
183,Chappie,Sony,"$13,346,782",3/6/2015,,,,7,2015,,,
185,Kick-Ass 2,Uni.,"$13,332,955",8/16/2013,,,,2,2015,,,
187,Jersey Boys,WB,"$13,319,371",6/20/2014,,,,6,2011,,,
191,Kiss of the Dragon,Fox,"$13,304,027",7/6/2001,,,,8,2011,,,
192,Radio,SonR,"$13,303,724",10/24/2003,,,,12,2014,,,
194,Stealth,Sony,"$13,251,545",7/29/2005,,,,3,2014,,,
195,Everest (2015),Uni.,"$13,242,895",9/25/2015,,,,5,2012,,,
196,Book of Shadows: Blair Witch 2,Art.,"$13,223,887",10/27/2000,,,,5,2015,,,
198,Kiss the Girls,Par.,"$13,215,167",10/3/1997,,,,6,2012,,,
199,Nim's Island,Fox,"$13,210,579",4/4/2008,,,,10,2015,,,
202,The Age of Adaline,LGF,"$13,203,458",4/24/2015,,,,6,2017,,,
203,Hitman,Fox,"$13,180,769",11/21/2007,,,,6,2011,,,
204,The American,Focus,"$13,177,790",9/1/2010,,,,7,2013,,,
205,Snitch,LG/S,"$13,167,607",2/22/2013,,,,2,2017,,,
207,Crimson Peak,Uni.,"$13,143,310",10/16/2015,,,,10,2011,,,
210,The Foreigner,STX,"$13,113,024",10/13/2017,,,,3,2015,,,
213,Jeepers Creepers,UA,"$13,106,108",8/31/2001,,,,3,2015,,,
217,Matchstick Men,WB,"$13,087,307",9/12/2003,,,,6,2012,,,
219,Bandits,MGM,"$13,050,700",10/12/2001,,,,11,2017,,,
222,For Love of the Game,Uni.,"$13,041,685",9/17/1999,,,,7,2017,,,
224,City Slickers,Col.,"$13,032,121",6/7/1991,,,,10,2010,,,
227,Cruel Intentions,Sony,"$13,020,565",3/5/1999,,,,4,2018,,,
228,The Longest Ride,Fox,"$13,019,686",4/10/2015,,,,3,2017,,,
230,Random Hearts,Sony,"$13,012,585",10/8/1999,,,,5,2013,,,

In [69]:
weekend_box.to_csv('after_imdb.csv')